#root {
  --ff-primary: "Sawarabi Mincho", sans-serif;
  --ff-secondary: "Great Vibes", cursive;
  --clr-primary: #ffda1f;
  --clr-white: #fff;
  --clr-green: #4caf50;
  --clr-green-light: #83c985;
  --clr-red: #f44336;
  --clr-red-light: #f66055;
  --clr-blue: #008cba;
  --clr-blue-light: #00bfff;
  background-color: transparent;
}
body {
  background: url("../src/images/shoppiebg_img2.jpg") no-repeat center fixed;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-primary);
  text-transform: capitalize;
  color: var(--clr-white);
}
.btn {
  color: var(--clr-white);
  font-family: var(--ff-primary);
  border-radius: 5px;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
}
/* banner */
.bg-image {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--clr-primary);
}
h1.title {
  font-family: var(--ff-secondary);
  font-size: 95px;
  font-weight: bolder;
  text-align: center;
  margin: auto 0px;
  display: flex;
}
.hero-img {
  display: flex;
}
/* search form */
.form-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  width: 80%;
}
.form-label {
  display: flex;
  width: 70%;
  justify-content: flex-start;
}
form label h6 {
  color: var(--clr-white);
  font-size: 24px;
  margin: 20px auto 0 auto;
}
.input-form {
  display: flex;
  height: 40px;
  width: 70%;
}
.input-form input {
  flex-grow: 4;
  font-family: var(--ff-primary);
  font-size: 18px;
}
::placeholder {
  font-family: var(--ff-primary);
  font-size: 18px;
}
.form-btns {
  display: flex;
  height: 40px;
  margin: 15px 5px;
}
.form-searchBtn,
.form-clearBtn {
  margin: 0px 15px;
  font-size: 18px;
}
.form-searchBtn {
  background-color: var(--clr-green);
}
.form-searchBtn:hover {
  background-color: var(--clr-green-light);
}
.form-clearBtn {
  background-color: var(--clr-blue);
}
.form-clearBtn:hover {
  background-color: var(--clr-blue-light);
}

/* poster instruction */
.zoom-text {
  color: var(--clr-primary);
  display: flex;
  justify-content: center;
}

/* result and nominee containers */
.shoppie-container {
  width: 95%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.column {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  flex: 45%;
  padding: 10px;
  margin: 10px 10px;
  color: var(--clr-white);
  text-align: center;
}
.column h2 {
  display: flex;
  justify-content: center;
}
.list-group {
  display: flex;
  flex-direction: column;
}
.list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 20px;
  height: 115px;
  border-bottom: 1px solid rgba(250, 247, 247, 0.3);
  color: var(--clr-white);
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 350px;
  margin: 8px auto 0 auto;
}
h5.title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.description {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  font-size: 16px;
}
.group-img {
  position: absolute;
  top: 13px;
  left: 10px;
  bottom: 8px;
  right: 0px;
  z-index: 1;
  height: 90px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: height 1s;
}
.group-img:hover {
  height: 400px;
  z-index: 5;
}

.result-btn,
.remove-btn {
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 30px;
  background-color: transparent;
}
.result-btn {
  border: 2px solid var(--clr-green);
}
.result-btn:hover {
  background-color: var(--clr-green);
}
.remove-btn {
  border: 2px solid var(--clr-red);
}
.remove-btn:hover {
  background-color: var(--clr-red);
}

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-background.show {
  animation: fadein 0.5s;
}
.modal-background.hide {
  animation: fadeout 0.5s;
}

.modal-container {
  position: relative;
  width: 500px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-container.hide {
  animation: animateout 0.5s;
}
.modal-container.show {
  animation: animatein 0.5s;
}

/* Add animation */
@keyframes animatein {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateout {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header,
.modal-foot {
  display: flex;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: var(--clr-white);
}
.modal-title {
  margin: 13px 0 8px 0;
  align-self: center;
  font-size: 32px;
}
.modal-body {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
}
.modal-body p {
  white-space: pre-wrap;
  color: #000;
}
.btn-close {
  color: var(--clr-white);
  float: right;
  font-weight: bold;
  font-size: 28px;
  background-color: transparent;
}
.btn-close-secondary {
  color: var(--clr-white);
  align-self: flex-start;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}
.btn-close-secondary:hover,
.btn-close:hover,
.bth-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Media queries */
@media only screen and (max-width: 1024px) {
  .bg-image {
    align-items: center;
    padding: 1rem 0 0 0;
    margin: 0 5px;
  }
  h1.title {
    flex: 100%;
    font-size: 90px;
    justify-content: center;
  }
  .hero-img {
    width: 65vw;
    height: 160px;
    align-self: flex-end;
  }
  .form-container {
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
  }
  .input-form {
    flex-direction: column;
    align-items: center;
  }
  .input-form input {
    width: 54vw;
  }
  ::placeholder {
    font-size: 18px;
  }
  .form-btns {
    justify-content: center;
    margin: 5px 10px;
  }
  .form-searchBtn,
  .form-clearBtn {
    margin: 5px 9px;
  }
  .zoom-text {
    text-align: center;
  }
  .shoppie-container {
    width: 95vw;
    margin: auto;
  }
  .column h2 {
    margin-bottom: 0px;
    align-content: flex-end;
  }
  .info {
    margin: 9px 0 7px 0;
  }
  .list-group-item {
    align-items: center;
  }
  .group-img {
    left: 3px;
  }
  .result-btn,
  .remove-btn {
    bottom: 15px;
    right: -4px;
  }
}
@media only screen and (max-width: 770px) {
  h1.title {
    font-size: 80px;
  }
  .hero-img {
    width: 65vw;
    height: 100px;
    align-self: center;
  }
}
@media screen and (max-width: 600px) {
  .bg-image {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0 0 0;
  }
  h1.title {
    font-size: 60px;
  }
  .hero-img {
    width: -webkit-fill-available;
    height: auto;
  }
  .form-submit {
    width: 95vw;
    margin: 0px 5px;
  }
  .form-label {
    width: 100%;
  }
  .form-label h6 {
    margin: 5px 0;
  }
  .input-form {
    width: 93vw;
  }
  .input-form input {
    width: 100%;
    margin: 0px 0px 5px 0px;
  }
  ::placeholder {
    font-size: 16px;
  }
  .form-btns {
    justify-content: center;
    margin: 5px 10px;
  }
  .form-searchBtn,
  .form-clearBtn {
    margin: 5px 9px;
  }
  .zoom-text {
    text-align: center;
  }
  .shoppie-container {
    width: 100%;
    flex-direction: column;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 10px 5px;
  }
  .info {
    align-items: center;
  }
  .group-img:hover {
    height: 200px;
  }
  .result-btn,
  .remove-btn {
    height: 23px;
    bottom: 12px;
    font-size: 12px;
  }
  h5.title {
    font-size: 16px;
    width: 55%;
  }
}
@media screen and (max-width: 300px) {
  h1.title {
    font-size: 50px;
  }
  .form-label h6 {
    font-size: 18px;
  }
  .form-container {
    width: 95vw;
  }
  ::placeholder {
    font-size: 13px;
  }
  .form-searchBtn,
  .form-clearBtn {
    font-size: 13px;
    height: 43px;
  }
  .column h2 {
    font-size: 22px;
  }
  .info {
    width: 95vw;
  }
}
