body,
#root {
  font-family: "Rubik", sans-serif;
  background: url("../src/images/shoppiebg_img2.jpg") no-repeat center fixed;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}
.bg-image.jumbotron.jumbotron-fluid {
  /* margin-top: 5px;
  position: relative;
  background-image: url("../src/images/movies.png");
  background-repeat: round;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px; */
  background-color: transparent;
}
.transbox {
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffda1f;
  border-radius: 5px;
  width: 100%;
}
h1.title {
  position: relative;
  color: white;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
  margin: auto 0px;
}
.form-label {
  padding: 0em 1em;
  color: white;
  font-size: 24px;
}
.form-submit {
  display: block;
  margin: 40px auto 25px auto;
}

.shoppie-container.row {
  width: 95%;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}
.column {
  flex: 45%;
  padding: 10px;
  margin: 10px 10px;
  color: white;
  text-align: center;
}
.card {
  border: none;
}
.list-group-item {
  font-size: 20px;
  height: 115px;
  border-bottom: 1px solid rgba(248, 244, 244, 0.05);
  color: white;
  /* background-color: rgba(248, 244, 244, 0.05); */
  background-color: #0c0d0d;
}
.info {
  text-align: center;
  width: 350px;
  margin: 15px auto 0 auto;
}
h5.title {
  margin: auto;
  width: 400px;
  font-size: 18px;
  font-weight: 500;
}
.description {
  padding: 0;
  margin: auto;
  font-size: 16px;
}
img {
  position: absolute;
  left: 20px;
  z-index: 1;
  height: 90px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: height 1s;
}
img:hover {
  height: 400px;
  z-index: 5;
}

.btn-success {
  margin: 0px 10px;
}
.result-btn,
.remove-btn {
  float: right;
  position: absolute;
  bottom: 6px;
  right: 10px;
}
.form-btn {
  display: flex;
  align-items: flex-end;
}
.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-background.show {
  animation: fadein 0.5s;
}

.modal-background.hide {
  animation: fadeout 0.5s;
}

.modal-container {
  position: relative;
  width: 500px;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-container.hide {
  animation: animateout 0.5s;
}
.modal-container.show {
  animation: animatein 0.5s;
}

/* Add animation */
@keyframes animatein {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animateout {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -300px;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header,
.modal-foot {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-title {
  margin: 13px 0 8px 0;
  align-self: center;
  font-size: 28px;
}
.modal-body {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
}
.modal-body p {
  white-space: pre-wrap;
}
.btn-close {
  color: white;
  float: right;
  font-weight: bold;
  font-size: 28px;
}
.btn-close-secondary {
  color: white;
  align-self: flex-start;
  font-weight: bold;
}
.btn-close-secondary,
.btn-close:hover,
.bth-close:focus {
  color: 000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}
